# cf. https://docs.gitlab.com/ee/user/project/code_owners.html

## Code Owners for a file
#filename @username1 @username2
## Code Owners for a directory
#directoryname/ @username1 @username2
## All group members as Code Owners for a file
#filename @groupname
## All group members as Code Owners for a directory
#directoryname/ @groupname

# All issues gitlab issue_templates 
.gitlab/issue_templates/*.md @SamREye @philippewang.info @comeh @sagotch @leoparis89 

