html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  display: flex;
  height: 100%;
}

main {
  padding: 20px;
}

.counter {
  padding: 20px;
  display: inline-block;
}
