html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  display: flex;
  height: 100%;
}

main {
  padding: 20px;
}

.counter {
  padding: 20px;
  display: inline-block;
}

/* EBGaramond */

@font-face {
  font-family: EBGaramond;
  src: local(EBGaramond-Regular),
    url(/fonts/EB_Garamond/EBGaramond-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: EBGaramond;
  src: local(EBGaramond-Medium),
    url(/fonts/EB_Garamond/EBGaramond-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: EBGaramond;
  src: local(EBGaramond-SemiBold),
    url(/fonts/EB_Garamond/EBGaramond-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: EBGaramond;
  src: local(EBGaramond-Bold),
    url(/fonts/EB_Garamond/EBGaramond-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: EBGaramond;
  src: local(EBGaramond-ExtraBold),
    url(/fonts/EB_Garamond/EBGaramond-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

/* CormorantGaramond */

@font-face {
  font-family: CormorantGaramond;
  src: local(CormorantGaramond-SemiBold),
    url(/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf)
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

/* CutiveMono */

@font-face {
  font-family: CutiveMono;
  src: local(CutiveMono-Regular),
    url(/fonts/Cutive_Mono/CutiveMono-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
